.menubtn {
    position: fixed;
    z-index: 10000;
    top: 50%;
    right: 5%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50%;
    width: 54px;
    height: 54px;
    svg {
        height: 100%;
        width: 100%;
        stroke: #000;
        stroke-width: 2;
        fill: none;
    }
    &-open{
        display: block;
    }
    &-close{
        display: none;
    }
}
.menu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background:rgb(255, 255, 255) ;
    display: none;
    top: 0;
    &_listbox{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        height: 300px;
    }
    li{
        
    }
    a{
        color: rgb(57, 155, 130);
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.1rem;
        padding: 20px;
    }
}
